<img src="http://fromlondonderryroad.com/wp-content/uploads/2011/08/CowboySilhouette.gif">
<h1>Howdy partner. Welcome to the game.</h1>
<h1>I'll deal you in...</h1>

<h2><% number=['ace',1,2,3,4,5,6,7,8,9,10,'jack','queen','king'] %></h2>
<h2><% suit=['diamonds','hearts','spades','clubs'] %></h2>
<img src="http://golearntocode.com/images/cards/<%= number.sample %>_of_<%= suit.sample %>.png">
<img src="http://golearntocode.com/images/cards/<%= number.sample %>_of_<%= suit.sample %>.png">
<img src="http://golearntocode.com/images/cards/<%= number.sample %>_of_<%= suit.sample %>.png">
<img src="http://golearntocode.com/images/cards/<%= number.sample %>_of_<%= suit.sample %>.png">
<img src="http://golearntocode.com/images/cards/<%= number.sample %>_of_<%= suit.sample %>.png">